# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Project-specific binaries
mcp-manager
cc-mcp-manager

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# Claude Code
.bmad-core/
.claude/commands/analyst.md
.claude/commands/architect.md
.claude/commands/bmad-master.md
.claude/commands/bmad-orchestrator.md
.claude/commands/dev.md
.claude/commands/pm.md
.claude/commands/po.md
.claude/commands/qa.md
.claude/commands/sm.md
.claude/commands/ux-expert.md
expansion-packs
